/*GENERAL*/
.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.barraNavegadora{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    list-style-type: none;
}
.barraNavegadora a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: 1s;
}
.barraNavegadora li{
    padding: 10px;
    margin: 5px;
}
.barraNavegadora a:hover{
    font-weight: bold;
    padding: 20px;
    color: darkslateblue;
}
.logoPx{
    width: 100px;
    height: auto;
}
.pie{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    padding: 20px;
}
.pie a{
    line-height: 1.6;
    text-decoration: none;
    color: whitesmoke;
}
body{
    background-image: linear-gradient(rgb(255, 149, 145), rgb(247, 43, 255), rgb(28, 13, 199));
}
.img-fluid{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.tipografia{
    font-family: 'Montserrat', sans-serif;
}
main {
    padding: 20px;
}
@media (max-width: 768px){
    .mobile{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        align-items: baseline;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .header{grid-area: header;}
    .main{grid-area: main;}
    .footer{grid-area: footer;}
}

@media (max-width: 768px){
    .barraNavegadora{
        display: flex;
        flex-direction: column;
    }
}

/*Index*/
.tlIndex{
    font-size: 24px;
    margin-bottom: 10px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.pfIndex{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    inline-size: 1.6;
    color: whitesmoke;
}
/*NOSOTROS*/
.mainNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 2em;
    grid-template-areas: 
    "tlSuperior tlSuperior"
    "imgNosotros pfPrincipal"
    "tlInferior tlInferior"
    "pfoInferior pfoInferior";
}
.tlSuperior {grid-area:tlSuperior;}
.imgNosotros {grid-area:imgNosotros;}
.pfPrincipal {grid-area:pfPrincipal;}
.tlInferior {grid-area:tlInferior;}
.pfoInferior {grid-area:pfoInferior;}

.tlSuperior,
.tlInferior {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
}
.tlNosotros {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: whitesmoke;
}
.pfPrincipal,
.pfoInferior {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.pfo {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;
    padding: 20px;
}
.imgQn{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.pfoPrincipal, .imgNosotros{
    display: flex;
    justify-content: space-evenly;

}

@media (max-width: 768px) {
    .mainNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: baseline;
        grid-template-areas:
        "tlSuperior"
        "imgNosotros" 
        "pfPrincipal"
        "tlInferior"
        "pfoInferior";
    }
.tlSuperior {grid-area:tlSuperior;}
.imgNosotros {grid-area:imgNosotros;}
.pfPrincipal {grid-area:pfPrincipal;}
.tlInferior {grid-area:tlInferior;}
.pfoInferior {grid-area:pfoInferior;}

  }
  /*SERVICIOS*/
.mainServicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 50px;
    align-items: center;
    grid-template-areas:
    "tlprincipal tlprincipal tlprincipal tlprincipal"
    "pPs pPs pPs pPs" 
    "imagensA servicioA imagensB servicioB"
    "imagensC servicioC imagensD servicioD";
}
.servicioA {grid-area: servicioA;
}

.imgServicioA {grid-area: imagensA;
}


.servicioB {grid-area: servicioB;
}


.imgServicioB {grid-area: imagensB;
}


.servicioC {grid-area: servicioC;
}


.imgServicioC {grid-area: imagensC;
}


.servicioD {grid-area: servicioD;
}


.imgServicioD {grid-area: imagensD;
}

.tlPrincipalS{grid-area: tlprincipal;}

.pPrincipalS{grid-area: pPs;}

.tlPrincipalS {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-transform: uppercase;
    color: whitesmoke;
}

.pPrincipalS {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;

}

.tlServicios {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}


.pServi {
    display: flex;
    padding: 10px;
    line-height: 1.6;
    text-align: center;
    color: whitesmoke;
}

.img-fluid-Servicio {
    width: 100%;
    height: auto;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .mainServicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 0%;
}
.imgServicioA, .imgServicioB, .imgServicioC, .imgServicioD{
    padding-left: 0px;
}
.tlPrincipalS, .pPrincipalS{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
}

/*PRODUCTOS*/

.gridProdu{
    display: grid;
    grid-template-columns: 33%, 33%, 33%;
    grid-template-rows: auto auto auto;
    gap: 2em;
    grid-template-areas: 
    "tlprincipalpro tlprincipalpro tlprincipalpro"
    "pA pB pC"
    "descripcionA descripcionB descripcionC";
}

.tlprincipalPro{grid-area: tlprincipalpro;}
.pA{grid-area: pA;}
.pB{grid-area: pB;}
.pC{grid-area: pC;}
.descripcionpA{grid-area: descripcionA;}
.descripcionpB{grid-area: descripcionB;}
.descripcionpC{grid-area: descripcionC;}

.prod, .descripcion{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;
}

.descripcionpA, .descripcionpB, .descripcionpC, .descripcionpD{
    padding: 10px;
    line-height: 1.6;
    color: whitesmoke;
}

.marco{
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px;
    max-width: 400px;
}

.marco:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

.tlprincipalPro{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.img-fluidProdu{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .gridProdu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        padding: 0%;
}
}
/*CONTACTO*/
.fontCon{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;
}
.pfC{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: whitesmoke;
}
.tlC{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 1.6;
    color: whitesmoke;
}
.fontoption{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.gridContacto{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "tlC mapa"
    "parrafoCon mapa"
    "form mapa";
}
.tlC{grid-area: tlC;}
.pfCprincipal {grid-area: parrafoCon;}
.gridform{grid-area: form;}
.mapa {grid-area: mapa;}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (max-width: 768px) {
    .gridContacto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "tlc"
        "parrafoCon"
        "form"
        "mapa";
}
.tlC{grid-area: tlC;}
.pfCprincipal {grid-area: parrafoCon;}
.gridform{grid-area: form;}
.mapa {grid-area: mapa;}
iframe{
    width: auto;
    height: auto;
}
.texto{
    width: 100%;
    height: auto;
}
.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
}